:root {
	--container-width: 1280px;
	--container-padding: 15px;

	--font-main: "Circular Std", sans-serif;

	--page-bg: #fff;
	--text-color: #fdfdfd;
	--text-muted: #909090;
	--accent: #1a3e3e;
	--btn-color: #1a3e3e;
	--text-white: #fdfdfd;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}
