form(action="").form 
	.form__col 
		label(for="").form__label
			input(type="text", name="", placeholder="Локация для тура")#autoCompleteHotel.form__input
			img(src="./img/form/arrow.svg", alt="", srcset="")
		span Выберете локацию
	.form__col 
		label(for="").form__label
			input(type="text", name="", placeholder="Дата похода")#datePicker.form__input
			img(src="./img/form/cal.svg", alt="", srcset="")
		span Выберете дату
	.form__col 
		label(for="").form__label
			input(type="text", name="", placeholder="Участники").form__input
			img(src="./img/form/arrow.svg", alt="", srcset="")
		span Минимум 4 человека
	button.form__btn Найти программу